html{
	font:normal normal 16px "Microsoft YaHei",sans-serif;
	color: #000;
}
body,ul,ol,dl,p,h1,h2,h3{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	color: #000;
	text-decoration: none;
}








